.containerMain {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-right: 10px;
  position: relative;
  width: fit-content;
}

.containerMain span {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--red);
  color: var(--red-light);
  height: 20px;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: .3s ease-in-out;
  transition-property: background, text-shadow;
  position: relative;
}

.containerMain span:hover {
  background: #471c24;
  text-shadow: 0 0 10px var(--red-light);
}

.containerMain span i {
  font-size: 20px;
  transition: transform .3s ease-in-out;
}

.rotated {
  transform: rotate(180deg);
}

.containerMain ul {
  position: absolute;
  left: 0;
  top: 2.5rem;
  list-style: none;
  z-index: 10;
  display: flex;
  flex-direction: column;
}

.containerMain ul li {
  position: relative;
  padding: 7px;
  cursor: pointer;
  border-bottom: 1px solid var(--ghost-white);
  color: var(--white);
  transition: .3s ease-in-out;
  transition-property: background-color, color;
  backdrop-filter: blur(10px);
  background-color: var(--black-transparent); 
}

.containerMain ul li:hover {
  background-color: var(--red);
  color: var(--red-light);
}

.containerMain article span {
  color: var(--red);
  background: var(--red-light);
  transition: 0.3s ease-in-out;
  transition-property: background-color, text-shadow, color;
}

.containerMain article span:hover {
  background: #60212d;
  backdrop-filter: blur(10px);
  color: var(--red-light);
  text-shadow: 0 0 10px var(--red-light);
}

.typeSelected {
  background: var(--red) !important;
  color: var(--red-light) !important;
}


@media only screen and (max-width: 550px) {
  .containerMain span i {
    font-size: 18px;
  }

  .containerMain span {
    font-size: 14px;
    padding: 5px 10px;
  }

}

