.hidePaginate {
  display: none;
}

.containerMain {
  display: flex;
  justify-content: center;
}

.containerPagination {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  list-style: none;
  column-gap: .6rem;
}

.NextPage,
.PreviousPage {
  color: var(--white);
}

.PreviousPage,
.NextPage,
.page {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .2rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  transition-property: background-color, color;
  width: 2rem;
}

.NextPage i,
.PreviousPage i {
  font-size: 1.5rem;
}

.pageActive {
  background-color: var(--red);
  color: var(--red-light);
}

@media only screen and (max-width: 450px) {
  .containerPagination {
    margin: 1rem;
    row-gap: .6rem;
  }
}
