.containerFooter {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 100px 0 0 0;
  background: var(--red);
  color: var(--white);
  padding: 50px 0;
}

.textFooter {
  font-size: 1.7rem;
  margin-bottom: 20px;
  text-align: center;
}

.iconsFooter {
  display: flex;
  column-gap: 1.5rem;
}

.iconsFooter a i {
  color: var(--white);
  font-size: 2.2rem;
  transition: 0.3s ease-in-out;
  transition-property: color, transform;
}

.iconsFooter a i:hover {
  color: var(--red-light);
  transform: scale(1.3);
}