.container{
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 4.2rem;
  background-color: var(--red);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  top: 0;
}

.navbar{
  width: var(--main-width);
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}

.link_group {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.link_group li {
  list-style: none;
}

.logo {
  font-family: var(--font-special-titles);
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--white);
  text-decoration: none;
  list-style: none;
  transition: text-shadow 0.3s ease-in-out;
}

.activeLink {
  color: var(--red-light) !important;
  position: relative;
  border-bottom: 3px solid var(--red-light);
  text-decoration: none;
  list-style: none;
  display: flex;
  align-items: center;
  height: 100%;
}

.link_group h2 {
  font-size: 1.1rem;
  transition: text-shadow 0.3s ease-in-out;
}

.link_group li .logo:hover,
.link_group h2:hover {
  text-shadow: 0 0 8px var(--red-light)
}

/* Mobile */
.mobile_navbar{
  margin: 0 auto;
  width: 95%;
  display: none;
  justify-content: space-between;
  align-items: center;
}

.sidebar_trigger{
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 6.4rem;
  border: none;
  background-color: transparent;
  z-index: 0;
}

.sidebar_trigger svg{
  color: var(--white);
  height: 3.2rem;
  width: 3.2rem;
}

.sidebar{
  position: absolute;
  top: 0;
  right: -30rem;
  height: 100vh;
  width: min(30rem, 100%);
  border-left: 1px solid var(--ghost-white);
  background-color: var(--red);
  transition: .4s ease-in-out transform;
}
.active_sidebar{
  transform: translateX(-30rem)
}
.close_sidebar{
  position: absolute;
  top: 0;
  right: -2rem;
  height: 5rem;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.close_sidebar svg{
  stroke-width: 2px;
  color: var(--white);
  height: 3.2rem;
  width: 3.2rem;
}
.sidebar_content{
  position: relative;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  padding-top: 9rem;
}
.sidebar_content hr{
  margin-top: -2rem;
  border: none;
  border-bottom: 1px solid var(--ghost-white);
  margin-bottom: 0;
}
.sidebar_content a{
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--ghost-white);
}
.sidebar_content a svg{
  width: 2.4rem;
}

.sidebar_content footer {
  margin-top: 2.5rem;
  padding: 0 1rem;
  width: 100%;
  position: relative;
}


@media (max-width: 980px) {
  .navbar{
    display: none;
  }

  .mobile_navbar{
    display: flex;
    height: 100%;
  }
  
}

@media (max-width: 584px) {
  .mobile_navbar{
    width: 90%;
  }
}


